<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         backupGlobals="false"
         backupStaticProperties="false"
         colors="true"
         executionOrder="random"
         processIsolation="false"
         resolveDependencies="true"
         stopOnFailure="false"
         failOnWarning="true"
         failOnNotice="true"
         failOnDeprecation="true"
         displayDetailsOnPhpunitDeprecations="true"
         testdox="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>

        <testsuite name="feature">
            <directory suffix="Test.php">tests/Feature</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
